.fixed {
	background: #000 url(../img/imagen.jpg) no-repeat 0 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
}

.fixed2 {
	background: #000 url(../img/info.jpg) no-repeat 0 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 70vh;
    top: 0;
}

.fixed3 {
	background: #000 url(../img/telefono.jpg) no-repeat 0 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
}

.fixed4 {
	background: #000 url(../img/libro.jpg) no-repeat 0 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 60vh;
    top: 0;
}

.title {
	margin-top: 3em;
}

.servicios .title2 {
	margin-top: 3em;
	margin-bottom: 4em;
}

.boton-inicio {
	margin-top: 1em;
	margin-bottom: 4em;
	border:1px solid black;
	color: black;
}

.boton-inicio:hover {
	color: white;
	background-color: #e28315;
	border:1px solid #e28315;
}
header a {
	text-align: center;
}
.nav-item {
	margin-left: 1em;
	text-align: center;
}

.header .margen {
	margin-left: 2em;
}

.derecha {
	margin-left: 10em;
}

.titulito {
	font-size: 1em;
}

.tamano {
	font-size: 0em;
}

.header button {
	margin-top: 1em;
	margin-bottom: 5em;
}

.navbar {
	z-index: 3;
	width: 100%;
	
}

.padding-imagen {
	padding-left: 0;
}

.navbar-nav{
	right: 0;
	margin-left: auto;
}
   
.body .container, .body-servicios .container{
	
	background: white;
	width: 100%;
}
.body p, .body a{
	text-align: justify;
}

.body h2 {
	text-align: center;
	margin-top: 1em;
}

.borde {
	border: 1px solid #60564d;
	margin-top: 2em;
	margin-bottom: 4em;
	border-radius: 20px;
}

.body .borde {
	background-color: white;
	text-align: justify;
}

.body .centrado {
	text-align: center;
}

.footer {
	width: 100%;
}

.footer {

}
.footer .container {
	width: 100%;
	background-color: black;
	color: white;
}

.footer .container h5 {
	margin-top: 3em;
}


.rounded-circle {
	background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    padding-left: 1px;
    text-decoration: none;
    margin-bottom: 2em;
    border: 2px solid black;
}

.rounded-circle:hover {
	text-decoration: none;
}

.rounded-circle:focus {
	text-decoration: none;
}

.items {
	margin-bottom: 4em;
	margin: 0 32px;
}

.footer .top {
	padding: 1em 1em;
	position: absolute;
    top: -0.7em;
    left: 49%;
    margin: -1.25em 0 0 -1.25em;
    background-color: #e28315;
    height: 4em;
    width: 4em;
    color: white;
    transition: 1s;
    z-index: 4;
}

.footer .rounded-circle.top:hover {
 transition: height 2s linear;

}

.footer a {
	color: black;
}

.footer .centrado {
	top: 0;
}

.footer .container {
	padding-bottom: 3em;
}

.fa-whatsapp {
	color: green;
}

.contacto {
	padding-top: 3em;
    padding-bottom: 4em;
}

.contacto .form label {
	display: block;
	margin-top: 1em;
}

.contacto .form .row input {
	width: 100%;
}

.contacto .form textarea {
	width: 100%;
	height: 7em;
}

.contacto hr {
	margin-right: 9%;
}

.contacto a {
	color: black;
}

.grande {
	margin-top: 12em;
}

.btn.enviar {
	margin-top: 1em;
}

.servicios {
	text-align: center;
	background-color: 
}

.cuerpo-servicios, .cuerpo-index, .cuerpo-info, .cuerpo-contacto {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.body-servicios, .body, .body-info, .section{
	flex: 1;
	background-color: white;
	z-index: 3;
}

.servicios h1 {
	margin-top: 2em;
	margin-bottom: 2em;
	color: white;
}

.introduccion h2{
	margin-top: 2em;
	text-align: center;
}

.introduccion p{
	text-align: justify;
	margin-top:3em;
}

.espacio {
	margin-left: 3em;
}

.body-servicios .borde{
	margin-bottom: 2em;

}
.body-servicios .row{

	min-height: 12em;
}

.body-servicios h3{
	margin-top: 1em;
	font-size: 1.5em;
}

.body-servicios p {
	font-size: 0.9em;
}

.body-servicios .introduccion {
	font-size: 1em!important;
}

.submenu{
	text-align: center;
}

.body-servicios .row.tamano{
	height: -1em!important;
	padding-bottom: 2%;
    padding-top: 1%;
}

.body-servicios button {
	padding:0 0;
	color: #ada4a4;
	margin-bottom: 1em;
	margin-top: 1em;
}

.body-servicios .btn-link:hover, .body-servicios .btn-link:focus {
    color: black;
    text-decoration: none;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.none{
	display: none!important;
	height: 0;
	animation: none;
	
}


.contenido1, .contenido2, .contenido3 {
  animation-duration: 1s;
  animation-name: mover;
  animation-direction: normal;
  min-height: 12em;
}

@keyframes mover {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}

.mover{
  animation-duration: 1s;
  animation-name: suing;
  animation-direction: normal;
  min-height: 12em;
}

@keyframes suing {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}



.padding-inferior{
	padding-bottom: 2em
}

.btn-link {
	padding-left: 0;
}
.body-servicios p {
	text-align: justify;
}



.contacto {
	padding-top: 3em;
    padding-bottom: 4em;
}

.contacto .form label {
	display: block;
	margin-top: 1em;
}

.contacto .form .row input {
	width: 100%;
}

.contacto .form textarea {
	width: 100%;
	height: 7em;
}

.contacto hr {
	margin-right: 9%;
}

.contacto a {
	color: black;
}

.btn.enviar {
	margin-top: 1em;
	border: 1px solid black;
	color: black;
}

.btn.enviar:hover {
	background-color:#e28315;
	border: 1px solid #e28315;
	color: white;
}

.section .container {
	background-color: white;
	width: 100%;
}

.title3 {
	margin-top: 1em;
	margin-bottom: 3em;
}

.body-info .container {
	background: white;
	width: 100%;
}

.title4 {
	color: black;
	text-align: center;
	margin-top: 3em;
    margin-bottom: 4em;
}

.body-info h3{
	margin-top:1em;
}

.body-info a{
	margin-bottom: 2em;
	border: 1px solid black;
	color: black;
}

.body-info a:hover{
	border: 1px solid #e28315;
	color: white;
	background-color: #e28315;
}

.body-info p{
	text-align: justify;
}

@media (max-width: 576px) { 
	.derecha {
		margin-left: -2em;
	}
	
	.footer .top {
		left: 48%;
	}

	.header .container {
		text-align: center;
	}

	.title {
		margin-top: 2em;
	}

	.espacio {
		margin-left: 0em;
	}
	.body-servicios .borde{
		margin-bottom: 0em;
		min-height: 9em;
	}
	.body-servicios .inferior {
		margin-bottom: 4em;
	}

	.padding-imagen {
	    margin-left: 3em;
	}
}

@media (min-width: 576px) { 
	.container.block {
		display: block;
	}
	.derecha {
		margin-left: -9em;
	}
	.cero-derecha {
		margin-left: 4em;
	}
	.navbar-brand {
		margin-left: 10em;
	}

	.navbar-nav{
		margin-left: 4em;
	}
	
	.footer .top {
		left: 48%;
	}

	.header .container {
		text-align: center;
	}
	.espacio {
		margin-left: 0em;
	}

	.body-servicios .borde{
		margin-bottom: 0em;
	}

	.body-servicios .inferior {
		margin-bottom: 4em;
	}

}



@media (min-width: 768px) { 

	.derecha {
		margin-left: 1em;
	}

	.nav-item {
		margin-left: 0em;
	}

	.container.block {
		display: flex;
	}

	.navbar-brand {
		margin-left: 0;
	}

	.navbar-nav{
		margin-left: auto;
	}
	
	.footer .top {
		left: 49%;
	}

	.header .container {
		text-align: left;
	}

	.espacio {
		margin-left: 3em;
	}

	.body-servicios .borde{
		margin-bottom: 2em;
	}
	.body-servicios .inferior {
		margin-bottom: 2em;
	}
}

@media (min-width: 992px) { 
	.derecha {
		margin-left: 1em;
	}

	.footer .top {
		left: 49%;
	}
	

}

@media (min-width: 1200px) { 
	.derecha {
		margin-left: 8em;
	}
 }


